.editmlaboutspathemeone1, .savemlaboutspathemeone1, #imageUploadmlaboutspathemeone1, span.editmlaboutspathemeone1:hover{
 
 display: none !important;
}
.editmlaboutspathemeone2, .savemlaboutspathemeone2, #imageUploadmlaboutspathemeone2, span.editmlaboutspathemeone2:hover{
  display: none !important;
}
.editmlaboutspathemeone3, .savemlaboutspathemeone3, #imageUploadmlaboutspathemeone3, span.editmlaboutspathemeone3:hover{
  display: none !important;
} 
.editmlaboutspathemeone4, .savemlaboutspathemeone4, #imageUploadmlaboutspathemeone4, span.editmlaboutspathemeone4:hover{
 
 display: none !important;
}
.editmlaboutspathemeone5, .savemlaboutspathemeone5, #imageUploadmlaboutspathemeone5, span.editmlaboutspathemeone5:hover{
  display: none !important;
}
.editmlaboutspathemeone6, .savemlaboutspathemeone6, #imageUploadmlaboutspathemeone6, span.editmlaboutspathemeone6:hover{
  display: none !important;
} 

.editmlaboutspathemeone7, .savemlaboutspathemeone7, #imageUploadmlaboutspathemeone7, span.editmlaboutspathemeone7:hover{
 
 display: none !important;
}
.editmlaboutspathemeone8, .savemlaboutspathemeone8, #imageUploadmlaboutspathemeone8, span.editmlaboutspathemeone8:hover{
  display: none !important;
}
.editmlaboutspathemeone9, .savemlaboutspathemeone9, #imageUploadmlaboutspathemeone9, span.editmlaboutspathemeone9:hover{
  display: none !important;
} 
.editmlaboutspathemeone10, .savemlaboutspathemeone10, #imageUploadmlaboutspathemeone10, span.editmlaboutspathemeone10:hover{
 
 display: none !important;
}
.editmlaboutspathemeone11, .savemlaboutspathemeone11, #imageUploadmlaboutspathemeone11, span.editmlaboutspathemeone11:hover{
  display: none !important;
}
.editmlaboutspathemeone12, .savemlaboutspathemeone12, #imageUploadmlaboutspathemeone12, span.editmlaboutspathemeone12:hover{
  display: none !important;
} 
.editmlaboutspathemeone13, .savemlaboutspathemeone13, #imageUploadmlaboutspathemeone13, span.editmlaboutspathemeone13:hover{
 
 display: none !important;
}
.editmlaboutspathemeone14, .savemlaboutspathemeone14, #imageUploadmlaboutspathemeone14, span.editmlaboutspathemeone14:hover{
  display: none !important;
}
.editmlaboutspathemeone15, .savemlaboutspathemeone15, #imageUploadmlaboutspathemeone15, span.editmlaboutspathemeone15:hover{
  display: none !important;
} 
.editmlaboutspathemeone16, .savemlaboutspathemeone16, #imageUploadmlaboutspathemeone16, span.editmlaboutspathemeone16:hover{
 
 display: none !important;
}
.editmlaboutspathemeone17, .savemlaboutspathemeone17, #imageUploadmlaboutspathemeone17, span.editmlaboutspathemeone17:hover{
  display: none !important;
}
.editmlaboutspathemeone18, .savemlaboutspathemeone18, #imageUploadmlaboutspathemeone18, span.editmlaboutspathemeone18:hover{
  display: none !important;
} 
.editmlaboutspathemeone19, .savemlaboutspathemeone19, #imageUploadmlaboutspathemeone19, span.editmlaboutspathemeone19:hover{
  display: none !important;
}
.inputmaboutfacebook4, .inputmabouttwitter5, .inputmabouttelegram6, .inputmabouttwitter7, 
.inputmabouttwitter8, .inputmaboutfacebook9, .inputmabouttwitter10, 
.inputmabouttelegram11, .inputmabouttwitter12, .inputmabouttwitter13, 
.inputmaboutfacebook14, .inputmabouttwitter15, .inputmabouttelegram16
{
	display: none !important;
}

.submitmaboutfacebook4, .submitmabouttwitter5, .submitmabouttelegram6, .submitmabouttwitter7, 
.submitmabouttwitter8, .submitmaboutfacebook9, .submitmabouttwitter10, 
.submitmabouttelegram11, .submitmabouttwitter12, .submitmabouttwitter13, 
.submitmaboutfacebook14, .submitmabouttwitter15, .submitmabouttelegram16
{
	display: none !important;
}

.mcolorlibedit1, .mcolorlibsave1, #mcolorlibimageUpload1 {
 
 display: none !important;
}
.mcolorlibedit2, .mcolorlibsave2, #mcolorlibimageUpload2 {
 
 display: none !important;
}
.mcolorlibedit3, .mcolorlibsave3, #mcolorlibimageUpload3 {
 
 display: none !important;
}
.mcolorlibedit4, .mcolorlibsave4, #mcolorlibimageUpload4 {
 
 display: none !important;
}
.mcolorlibedit5, .mcolorlibsave5, #mcolorlibimageUpload5 {
 
 display: none !important;
}
.mcolorlibedit6, .mcolorlibsave6, #mcolorlibimageUpload6 {
 
 display: none !important;
}
.mcolorlibedit7, .mcolorlibsave7, #mcolorlibimageUpload7 {
 
 display: none !important;
}
.mcolorlibedit8, .mcolorlibsave8, #mcolorlibimageUpload8 {
 
 display: none !important;
}
.mcolorlibedit9, .mcolorlibsave9, #mcolorlibimageUpload9 {
 
 display: none !important;
}
.mcolorlibedit10, .mcolorlibsave10, #mcolorlibimageUpload10 {
 
 display: none !important;


}
.mcolorlibedit11, .mcolorlibsave11, #mcolorlibimageUpload11 {
 
 display: none !important;
}
.mcolorlibedit12, .mcolorlibsave12, #mcolorlibimageUpload12 {
 
 display: none !important;
}
.mcolorlibedit13, .mcolorlibsave13, #mcolorlibimageUpload13 {
 
 display: none !important;
}
.mcolorlibedit14, .mcolorlibsave14, #mcolorlibimageUpload14 {
 
 display: none !important;
}
.mcolorlibedit15, .mcolorlibsave15, #mcolorlibimageUpload15 {
 
 display: none !important;
}
.mcolorlibedit16, .mcolorlibsave16, #mcolorlibimageUpload16 {
 
 display: none !important;
}
.mcolorlibedit17, .mcolorlibsave17, #mcolorlibimageUpload17 {
 
 display: none !important;
}
.mcolorlibedit18, .mcolorlibsave18, #mcolorlibimageUpload18 {
 
 display: none !important;
}

.editmlaboutt1theme1, .savemlaboutt1theme1, #imageUploadmlaboutt1theme1, span.editmlaboutt1theme1:hover{
 
 display: none !important;
}
.editmlaboutt1theme2, .savemlaboutt1theme2, #imageUploadmlaboutt1theme2, span.editmlaboutt1theme2:hover{
  display: none !important;
}
.editmlaboutt1theme3, .savemlaboutt1theme3, #imageUploadmlaboutt1theme3, span.editmlaboutt1theme3:hover{
  display: none !important;
}
.editmlbannertheme1, .savemlbannertheme1, #imageUploadmlbannertheme1, span.editmlbannertheme1:hover{
 
 display: none !important;
}
.editmlbannertheme2, .savemlbannertheme2, #imageUploadmlbannertheme2, span.editmlbannertheme2:hover{
  display: none !important;
}
.editmlfactsblabethemeone1, .savemlfactsblabethemeone1, #imageUploadmlfactsblabethemeone1, span.editmlfactsblabethemeone1:hover{
 
 display: none !important;
}
.editmlfactsblabethemeone2, .savemlfactsblabethemeone2, #imageUploadmlfactsblabethemeone2, span.editmlfactsblabethemeone2:hover{
  display: none !important;
}
.editmlfactsblabethemeone3, .savemlfactsblabethemeone3, #imageUploadmlfactsblabethemeone3, span.editmlfactsblabethemeone3:hover{
  display: none !important;
} 
.editmlfactsblabethemeone4, .savemlfactsblabethemeone4, #imageUploadmlfactsblabethemeone4, span.editmlfactsblabethemeone4:hover{
 
 display: none !important;
}
.editmlfactsblabethemeone5, .savemlfactsblabethemeone5, #imageUploadmlfactsblabethemeone5, span.editmlfactsblabethemeone5:hover{
  display: none !important;
}
.editmlfaqtheme1, .savemlfaqtheme1, #imageUploadmlfaqtheme1, span.editmlfaqtheme1:hover{
 
 display: none !important;
}
.editmlfaqtheme2, .savemlfaqtheme2, #imageUploadmlfaqtheme2, span.editmlfaqtheme2:hover{
  display: none !important;
}
.editmlfaqtheme3, .savemlfaqtheme3, #imageUploadmlfaqtheme3, span.editmlfaqtheme3:hover{
  display: none !important;
} 
.editmlfaqtheme4, .savemlfaqtheme4, #imageUploadmlfaqtheme4, span.editmlfaqtheme4:hover{
 
 display: none !important;
}
.editmlfaqtheme5, .savemlfaqtheme5, #imageUploadmlfaqtheme5, span.editmlfaqtheme5:hover{
  display: none !important;
}
.editmlfaqtheme6, .savemlfaqtheme6, #imageUploadmlfaqtheme6, span.editmlfaqtheme6:hover{
  display: none !important;
} 

.editmlfaqtheme7, .savemlfaqtheme7, #imageUploadmlfaqtheme7, span.editmlfaqtheme7:hover{
 
 display: none !important;
}
.editmlfaqtheme8, .savemlfaqtheme8, #imageUploadmlfaqtheme8, span.editmlfaqtheme8:hover{
  display: none !important;
}
.editmlfaqtheme9, .savemlfaqtheme9, #imageUploadmlfaqtheme9, span.editmlfaqtheme9:hover{
  display: none !important;
} 
.editmlfaqtheme10, .savemlfaqtheme10, #imageUploadmlfaqtheme10, span.editmlfaqtheme10:hover{
 
 display: none !important;
}

.editmlactheme2, .savemlactheme2, #imageUploadmlactheme2, span.editmlactheme2:hover{
  display: none !important;
}
.editmlfooterbladethemeone1, .savemlfooterbladethemeone1, #imageUploadmlfooterbladethemeone1, span.editmlfooterbladethemeone1:hover{
 
 display: none !important;
}
.editmlfooterbladethemeone2, .savemlfooterbladethemeone2, #imageUploadmlfooterbladethemeone2, span.editmlfooterbladethemeone2:hover{
  display: none !important;
}
.editmlfooterbladethemeone3, .savemlfooterbladethemeone3, #imageUploadmlfooterbladethemeone3, span.editmlfooterbladethemeone3:hover{
  display: none !important;
} 
.editmlfooterbladethemeone4, .savemlfooterbladethemeone4, #imageUploadmlfooterbladethemeone4, span.editmlfooterbladethemeone4:hover{
 
 display: none !important;
}
.editmlfooterbladethemeone5, .savemlfooterbladethemeone5, #imageUploadmlfooterbladethemeone5, span.editmlfooterbladethemeone5:hover{
  display: none !important;
}
.editmlfooterbladethemeone6, .savemlfooterbladethemeone6, #imageUploadmlfooterbladethemeone6, span.editmlfooterbladethemeone6:hover{
  display: none !important;
} 

.editmlfooterbladethemeone7, .savemlfooterbladethemeone7, #imageUploadmlfooterbladethemeone7, span.editmlfooterbladethemeone7:hover{
 
 display: none !important;
}
.editmlservice0theme1, .savemlservice0theme1, #imageUploadmlservice0theme1, span.editmlservice0theme1:hover{
 
 display: none !important;
}
.editmlservice1theme1, .savemlservice1theme1, #imageUploadmlservice1theme1, span.editmlservice1theme1:hover{
 
 display: none !important;
}
.editmlservice1theme2, .savemlservice1theme2, #imageUploadmlservice1theme2, span.editmlservice1theme2:hover{
  display: none !important;
}
.editmlservice1theme3, .savemlservice1theme3, #imageUploadmlservice1theme3, span.editmlservice1theme3:hover{
  display: none !important;
} 
.editmlservice1theme4, .savemlservice1theme4, #imageUploadmlservice1theme4, span.editmlservice1theme4:hover{
 
 display: none !important;
}
.editmlservice1theme5, .savemlservice1theme5, #imageUploadmlservice1theme5, span.editmlservice1theme5:hover{
  display: none !important;
}
.editmlservice1theme6, .savemlservice1theme6, #imageUploadmlservice1theme6, span.editmlservice1theme6:hover{
  display: none !important;
} 

.editmlservice1theme7, .savemlservice1theme7, #imageUploadmlservice1theme7, span.editmlservice1theme7:hover{
 
 display: none !important;
}
.editmlservice1theme8, .savemlservice1theme8, #imageUploadmlservice1theme8, span.editmlservice1theme8:hover{
  display: none !important;
}
.editmlservice1theme9, .savemlservice1theme9, #imageUploadmlservice1theme9, span.editmlservice1theme9:hover{
  display: none !important;
} 
.inputmservice1telegram9, .inputmservice1twitter8, .inputmservice1facebook7
{
  display: none !important;
}

.submitmservice1facebook7, .submitmservice1twitter8, .submitmservice1telegram9
{
  display: none !important;
}
.editmparallaxone1, .savemparallaxone1, #imageUploadmparallaxone1, span.editmparallaxone1:hover{
 
 display: none !important;
}
.editmparallaxone2, .savemparallaxone2, #imageUploadmparallaxone2, span.editmparallaxone2:hover{
  display: none !important;
}
.editmlparallaxonetheme1, .savemlparallaxonetheme1, #imageUploadmlparallaxonetheme1, span.editmlparallaxonetheme1:hover{
 
 display: none !important;
}
.editmlparallaxonetheme2, .savemlparallaxonetheme2, #imageUploadmlparallaxonetheme2, span.editmlparallaxonetheme2:hover{
  display: none !important;
}
.editmlparallaxonetheme3, .savemlparallaxonetheme3, #imageUploadmlparallaxonetheme3, span.editmlparallaxonetheme3:hover{
  display: none !important;
} 
.editmlservices1theme1, .savemlservices1theme1, #imageUploadmlservices1theme1, span.editmlservices1theme1:hover{
 
 display: none !important;
}
.editmlservices1theme2, .savemlservices1theme2, #imageUploadmlservices1theme2, span.editmlservices1theme2:hover{
  display: none !important;
}
.editmlservices1theme3, .savemlservices1theme3, #imageUploadmlservices1theme3, span.editmlservices1theme3:hover{
  display: none !important;
} 
.editmlservices1theme4, .savemlservices1theme4, #imageUploadmlservices1theme4, span.editmlservices1theme4:hover{
 
 display: none !important;
}
.editmlservices1theme5, .savemlservices1theme5, #imageUploadmlservices1theme5, span.editmlservices1theme5:hover{
  display: none !important;
}
.editmlservices1theme6, .savemlservices1theme6, #imageUploadmlservices1theme6, span.editmlservices1theme6:hover{
  display: none !important;
} 

.editmlservices1theme7, .savemlservices1theme7, #imageUploadmlservices1theme7, span.editmlservices1theme7:hover{
 
 display: none !important;
}
.editmlservices1theme8, .savemlservices1theme8, #imageUploadmlservices1theme8, span.editmlservices1theme8:hover{
  display: none !important;
}
.inputmfooterfacebook2, .submitmfooterfacebook2,.inputmfootertwitter3,.submitmfootertwitter3,.inputmfooterrss4,.submitmfooterrss4,.inputmfooteryoutube5,.submitmfooteryoutube5,.inputmfooterlinkedin6,.submitmfooterlinkedin6,.inputmfootergoogleplus7,.submitmfootergoogleplus7{
   display: none !important;
}