.editmlaboutspathemeone1, .savemlaboutspathemeone1, #imageUploadmlaboutspathemeone1, span.editmlaboutspathemeone1:hover{
 
 display: none !important;
}
.editmlaboutspathemeone2, .savemlaboutspathemeone2, #imageUploadmlaboutspathemeone2, span.editmlaboutspathemeone2:hover{
  display: none !important;
}
.editmlaboutspathemeone3, .savemlaboutspathemeone3, #imageUploadmlaboutspathemeone3, span.editmlaboutspathemeone3:hover{
  display: none !important;
} 
.editmlaboutspathemeone4, .savemlaboutspathemeone4, #imageUploadmlaboutspathemeone4, span.editmlaboutspathemeone4:hover{
 
 display: none !important;
}
.editmlaboutspathemeone5, .savemlaboutspathemeone5, #imageUploadmlaboutspathemeone5, span.editmlaboutspathemeone5:hover{
  display: none !important;
}
.editmlaboutspathemeone6, .savemlaboutspathemeone6, #imageUploadmlaboutspathemeone6, span.editmlaboutspathemeone6:hover{
  display: none !important;
} 

.editmlaboutspathemeone7, .savemlaboutspathemeone7, #imageUploadmlaboutspathemeone7, span.editmlaboutspathemeone7:hover{
 
 display: none !important;
}
.editmlaboutspathemeone8, .savemlaboutspathemeone8, #imageUploadmlaboutspathemeone8, span.editmlaboutspathemeone8:hover{
  display: none !important;
}
.editmlaboutspathemeone9, .savemlaboutspathemeone9, #imageUploadmlaboutspathemeone9, span.editmlaboutspathemeone9:hover{
  display: none !important;
} 
.editmlaboutspathemeone10, .savemlaboutspathemeone10, #imageUploadmlaboutspathemeone10, span.editmlaboutspathemeone10:hover{
 
 display: none !important;
}
.editmlaboutspathemeone11, .savemlaboutspathemeone11, #imageUploadmlaboutspathemeone11, span.editmlaboutspathemeone11:hover{
  display: none !important;
}
.editmlaboutspathemeone12, .savemlaboutspathemeone12, #imageUploadmlaboutspathemeone12, span.editmlaboutspathemeone12:hover{
  display: none !important;
} 
.editmlaboutspathemeone13, .savemlaboutspathemeone13, #imageUploadmlaboutspathemeone13, span.editmlaboutspathemeone13:hover{
 
 display: none !important;
}
.editmlaboutspathemeone14, .savemlaboutspathemeone14, #imageUploadmlaboutspathemeone14, span.editmlaboutspathemeone14:hover{
  display: none !important;
}
.editmlaboutspathemeone15, .savemlaboutspathemeone15, #imageUploadmlaboutspathemeone15, span.editmlaboutspathemeone15:hover{
  display: none !important;
} 
.editmlaboutspathemeone16, .savemlaboutspathemeone16, #imageUploadmlaboutspathemeone16, span.editmlaboutspathemeone16:hover{
 
 display: none !important;
}
.editmlaboutspathemeone17, .savemlaboutspathemeone17, #imageUploadmlaboutspathemeone17, span.editmlaboutspathemeone17:hover{
  display: none !important;
}
.editmlaboutspathemeone18, .savemlaboutspathemeone18, #imageUploadmlaboutspathemeone18, span.editmlaboutspathemeone18:hover{
  display: none !important;
} 
.editmlaboutspathemeone19, .savemlaboutspathemeone19, #imageUploadmlaboutspathemeone19, span.editmlaboutspathemeone19:hover{
  display: none !important;
}
.inputmaboutfacebook4, .inputmabouttwitter5, .inputmabouttelegram6, .inputmabouttwitter7, 
.inputmabouttwitter8, .inputmaboutfacebook9, .inputmabouttwitter10, 
.inputmabouttelegram11, .inputmabouttwitter12, .inputmabouttwitter13, 
.inputmaboutfacebook14, .inputmabouttwitter15, .inputmabouttelegram16
{
	display: none !important;
}

.submitmaboutfacebook4, .submitmabouttwitter5, .submitmabouttelegram6, .submitmabouttwitter7, 
.submitmabouttwitter8, .submitmaboutfacebook9, .submitmabouttwitter10, 
.submitmabouttelegram11, .submitmabouttwitter12, .submitmabouttwitter13, 
.submitmaboutfacebook14, .submitmabouttwitter15, .submitmabouttelegram16
{
	display: none !important;
}

.mcolorlibedit1, .mcolorlibsave1, #mcolorlibimageUpload1 {
 
 display: none !important;
}
.mcolorlibedit2, .mcolorlibsave2, #mcolorlibimageUpload2 {
 
 display: none !important;
}
.mcolorlibedit3, .mcolorlibsave3, #mcolorlibimageUpload3 {
 
 display: none !important;
}
.mcolorlibedit4, .mcolorlibsave4, #mcolorlibimageUpload4 {
 
 display: none !important;
}
.mcolorlibedit5, .mcolorlibsave5, #mcolorlibimageUpload5 {
 
 display: none !important;
}
.mcolorlibedit6, .mcolorlibsave6, #mcolorlibimageUpload6 {
 
 display: none !important;
}
.mcolorlibedit7, .mcolorlibsave7, #mcolorlibimageUpload7 {
 
 display: none !important;
}
.mcolorlibedit8, .mcolorlibsave8, #mcolorlibimageUpload8 {
 
 display: none !important;
}
.mcolorlibedit9, .mcolorlibsave9, #mcolorlibimageUpload9 {
 
 display: none !important;
}
.mcolorlibedit10, .mcolorlibsave10, #mcolorlibimageUpload10 {
 
 display: none !important;


}
.mcolorlibedit11, .mcolorlibsave11, #mcolorlibimageUpload11 {
 
 display: none !important;
}
.mcolorlibedit12, .mcolorlibsave12, #mcolorlibimageUpload12 {
 
 display: none !important;
}
.mcolorlibedit13, .mcolorlibsave13, #mcolorlibimageUpload13 {
 
 display: none !important;
}
.mcolorlibedit14, .mcolorlibsave14, #mcolorlibimageUpload14 {
 
 display: none !important;
}
.mcolorlibedit15, .mcolorlibsave15, #mcolorlibimageUpload15 {
 
 display: none !important;
}
.mcolorlibedit16, .mcolorlibsave16, #mcolorlibimageUpload16 {
 
 display: none !important;
}
.mcolorlibedit17, .mcolorlibsave17, #mcolorlibimageUpload17 {
 
 display: none !important;
}
.mcolorlibedit18, .mcolorlibsave18, #mcolorlibimageUpload18 {
 
 display: none !important;
}

.editmlaboutt1theme1, .savemlaboutt1theme1, #imageUploadmlaboutt1theme1, span.editmlaboutt1theme1:hover{
 
 display: none !important;
}
.editmlaboutt1theme2, .savemlaboutt1theme2, #imageUploadmlaboutt1theme2, span.editmlaboutt1theme2:hover{
  display: none !important;
}
.editmlaboutt1theme3, .savemlaboutt1theme3, #imageUploadmlaboutt1theme3, span.editmlaboutt1theme3:hover{
  display: none !important;
}
