.img-circle {
    border-radius: 50%;
    width: 100%;
}
.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
}

#previewtest:focus, #previewtest section {
  
    outline: none !important;
}
.main_menu_area {
    position: static !important;
   height: 50px;
}
section.main_slider_area {
    background-color: #e2e2e2;
    width:100%;
    
}

.carousel-inner
{
	height:auto;
	text-align: center;
	vertical-align: middle;
}

#header, #banner, #body, #footer {
    padding: 0px !important;
    margin: 0px !important;
    border: 3px dashed #ccc;
}

.rs table {
    border-collapse: separate !important;
}

.main-header {
  max-height: 200px !important;
}
@media (max-width: 767px){
.main-sidebar {
    
    margin-top: 50px;
}
}

.nav>li>a, .nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    color: #a7eef9 !important;
    
}

.logo-lg img {
    height: 50px;
}
