@media only screen and (max-width: 900px) and (min-width: 50px){
.editmlaboutspathemeone1, .savemlaboutspathemeone1, #imageUploadmlaboutspathemeone1, span.editmlaboutspathemeone1:hover{
 
 display: none !important;
}
.editmlaboutspathemeone2, .savemlaboutspathemeone2, #imageUploadmlaboutspathemeone2, span.editmlaboutspathemeone2:hover{
  display: none !important;
}
.editmlaboutspathemeone3, .savemlaboutspathemeone3, #imageUploadmlaboutspathemeone3, span.editmlaboutspathemeone3:hover{
  display: none !important;
} 
.editmlaboutspathemeone4, .savemlaboutspathemeone4, #imageUploadmlaboutspathemeone4, span.editmlaboutspathemeone4:hover{
 
 display: none !important;
}
.editmlaboutspathemeone5, .savemlaboutspathemeone5, #imageUploadmlaboutspathemeone5, span.editmlaboutspathemeone5:hover{
  display: none !important;
}
.editmlaboutspathemeone6, .savemlaboutspathemeone6, #imageUploadmlaboutspathemeone6, span.editmlaboutspathemeone6:hover{
  display: none !important;
} 

.editmlaboutspathemeone7, .savemlaboutspathemeone7, #imageUploadmlaboutspathemeone7, span.editmlaboutspathemeone7:hover{
 
 display: none !important;
}
.editmlaboutspathemeone8, .savemlaboutspathemeone8, #imageUploadmlaboutspathemeone8, span.editmlaboutspathemeone8:hover{
  display: none !important;
}
.editmlaboutspathemeone9, .savemlaboutspathemeone9, #imageUploadmlaboutspathemeone9, span.editmlaboutspathemeone9:hover{
  display: none !important;
} 
.editmlaboutspathemeone10, .savemlaboutspathemeone10, #imageUploadmlaboutspathemeone10, span.editmlaboutspathemeone10:hover{
 
 display: none !important;
}
.editmlaboutspathemeone11, .savemlaboutspathemeone11, #imageUploadmlaboutspathemeone11, span.editmlaboutspathemeone11:hover{
  display: none !important;
}
.editmlaboutspathemeone12, .savemlaboutspathemeone12, #imageUploadmlaboutspathemeone12, span.editmlaboutspathemeone12:hover{
  display: none !important;
} 
.editmlaboutspathemeone13, .savemlaboutspathemeone13, #imageUploadmlaboutspathemeone13, span.editmlaboutspathemeone13:hover{
 
 display: none !important;
}
.editmlaboutspathemeone14, .savemlaboutspathemeone14, #imageUploadmlaboutspathemeone14, span.editmlaboutspathemeone14:hover{
  display: none !important;
}
.editmlaboutspathemeone15, .savemlaboutspathemeone15, #imageUploadmlaboutspathemeone15, span.editmlaboutspathemeone15:hover{
  display: none !important;
} 
.editmlaboutspathemeone16, .savemlaboutspathemeone16, #imageUploadmlaboutspathemeone16, span.editmlaboutspathemeone16:hover{
 
 display: none !important;
}
.editmlaboutspathemeone17, .savemlaboutspathemeone17, #imageUploadmlaboutspathemeone17, span.editmlaboutspathemeone17:hover{
  display: none !important;
}
.editmlaboutspathemeone18, .savemlaboutspathemeone18, #imageUploadmlaboutspathemeone18, span.editmlaboutspathemeone18:hover{
  display: none !important;
} 
.editmlaboutspathemeone19, .savemlaboutspathemeone19, #imageUploadmlaboutspathemeone19, span.editmlaboutspathemeone19:hover{
  display: none !important;
}
}

