body{
  font-family: "Poppins", sans-serif !important;
}


.cust {
    margin: 0px !important;
    padding: 0px !important;
}

.page-heading 
{
    position: relative;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    background-color: #005b82;
    font-family: "Poppins", sans-serif !important;
    background-image: url("../img/bg.png");
    
}


.homep
{
  line-height: 45px;
}

.d_feature_img {
    padding-left: 0px !important;
}

.page-heading h2
{
   font-size: 28px;
}

.main_title h6
{
	line-height: 25px !important;
}

.main_menu_area
{
	border:none !important;
  
}

.about_menu_area
{
  border:none !important;
  
 padding: 25px 0px 0px 0px;
  
}
.opi img{
  opacity: 0.3;
}
.nav-linka{
    color: #ffffff;
    margin-left: 10px;
}
.nav-linka:hover{
    color: #ffffff;
    margin-left: 10px;
    text-decoration: none;
}
#pyrupay{
    padding: 20px;
}

.imgpage
{
  
  background:green;
  height: 100px;
  
}




.service_area 
{
    background: url("../img/conf-bg.jpg") no-repeat fixed center center !important;
    background-size: cover !important;
    position: relative !important;
    z-index: 2 !important;
    padding: 115px 0px !important;
    height:900px;
}

.l_news_content 
{
	
	min-height: 650px;
	text-align: justify;
}

.l_news_inner 
{
	min-height: 850px;
}

.d_feature_text
{
	text-align: justify;
}

.tp-caption {
   margin-bottom: 16px !important;
   margin-top: 100px !important;
}

.l_news_item .l_news_img {
    
    text-align: center !important;
    border: 1px solid #ebebeb !important;
}
@media (max-width: 991px){
.main_menu_area h2{
    font-size: 14px;

}
.main_menu_area p{
    font-size: 11px;
    
}


}

@media (max-width: 2200px) and (min-width: 900px){
.card-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
    width: 100% !important;
    -webkit-column-gap: 1.25rem !important;
    column-gap: 1.25rem !important;
}

}

@media (max-width: 900px) and (min-width: 550px) and (orientation : landscape){
.card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
    width: 100% !important;
    -webkit-column-gap: 1.25rem !important;
    column-gap: 1.25rem !important;
}
.navbar-nav {
   
    margin-top: 20px !important;
  }
}
@media (max-width: 900px) and (min-width: 550px) and (orientation : portrait){
.card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
    width: 100% !important;
    -webkit-column-gap: 1.25rem !important;
    column-gap: 1.25rem !important;
}
.navbar-nav {
   
    margin-top: 20px !important;
  }
}

@media (max-width: 550px) and (min-width: 50px){
.card-columns {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
    width: 100% !important;
    -webkit-column-gap: 1.25rem !important;
    column-gap: 1.25rem !important;

}
.navbar-nav {
   
    margin-top: 20px !important;
  }
.navbar-collapse{
  min-height: 300px;
}
.project_area {
   z-index:-1 !important;
}

.service_itemt
{
  padding: 0px !important;
  font-size: 14px;
  text-align: center;
}

.logospan {
    
    margin-left: 30px;
}
}

.card-green {
  border-top: 4px solid #16a085 !important;
  
   
  }
  
  .carddim{
    min-height: 400px !important;
  }
  .imgcenter{
    text-align: center;

  }

  .carddimart{
    height: 380px !important;
  }
  .carddimlin{
    height: 50px !important;
  }

 

.fa-white a
{
    color:#ffffff !important;
    text-decoration: none !important;
    font-weight: bold !important;

}

.btn-warning1
{
background-color: #f4b942;
}



.post-content{
  font-size: 14px;
  
}

span{
  
  line-height: 1.4em !important;
}

.spacediv{

    margin-bottom: 50px;
}

.fleft
{
    float:left;
}

/* Background image */
.jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-radius: 0em;
}

.lead span {
  color: orange;
  font-weight: bold;
}

.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
 
  z-index: -2;
  margin: 0px !important;
}

.bg-coverpost {
  background-size: cover;
  color: white;
  background-position: center center;
 
  z-index: -2;
  margin: 0px !important;
}



.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}



.c_box_item h4 i{
      color: #005b82 !important;
}

.service_item i {

  background-image: -webkit-linear-gradient(180deg, #005b82 0%, #ffffff 100%) !important;
}
.read_btn {
  background-image: -webkit-linear-gradient(180deg, #005b82 0%, #005b82 100%) !important;
}

.bg_btn {
  
  background-image: linear-gradient(to right, #005b82 0%, #005b82 51%, #005b82 100%) !important;
}

.tp_btn {
   border-image: -webkit-linear-gradient(180deg, #005b82 0%, #005b82 100%);
    border-image: -ms-linear-gradient(180deg, #005b82 0%, #005b82 100%);
    border-image-slice: 1;
}

.main_menu_area .navbar .navbar-nav li:hover a, .main_menu_area .navbar .navbar-nav li.active a{
   color: #07e8fc !important;
   
}

.main_menu_area .navbar .navbar-nav li{
  margin-right: 25px !important;
}

.more_btn{
  color: #005b82 !important;
}
.more_btn:hover {
   
    color: #005b82 !important;
}

.tp_btn:after {
   border-image: -webkit-linear-gradient(180deg, #005b82 0%, #005b82 100%);
    border-image: -ms-linear-gradient(180deg, #005b82 0%, #005b82 100%);
    border-image-slice: 1;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  
  width: 100%;
  border-radius: 15px;
  
  opacity: .5;


  }

  .rslides {
  margin: 0px;
  padding: 0px;
  }

  ul.rslides.rslides1 {
    max-width: 1200px !important;
}

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.rslides1_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  z-index: 99;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.rslides1_nav:active {
  opacity: 1.0;
  }

.rslides1_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.rslides2_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.rslides2_nav.next {
  left: auto;
  right: 0;
  }

.rslides3_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.rslides3_nav:active {
  opacity: 1.0;
  }

.rslides3_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.rslides1_nav:focus,
.rslides2_nav:focus,
.rslides3_nav:focus {
  outline: none;
  }

.rslides_tabs {
  margin-top: -25px;
  text-align: center;
  margin-bottom: 0px;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.rslides_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(255,255,255, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.rslides_tabs .rslides_here a {
  background: #07e8fc;
  
  }

.caption {
    position: relative;
    display: block;
    bottom: -65px;
    left: 0;
    top: -32px;
    right: 0;
    padding: 0px;
    min-height: 34px;
    line-height: 2em;
    text-align: center;
    border-radius: 30px;
    
    opacity: 0.5;
    color: #ffffff;
}

.minh
{
  min-height: 400px;
  margin-bottom:30px;
}

.card-text small
{
  font-weight: bold;

}
.card-text small a
{
color: #000000;
}

.project_area {
   padding:0px !important;
}
.jumbotron {
    padding: 40px !important;
    
}
.jumbotron {
    background: none !important;
}

.img-fluid-art{
  float:left;
}

.btnstyle, .btnstylea
{
  background-color:#003F5B; 
  
}

.btnstyle a, .btnstyle a:hover, .btnstylea, .btnstylea:hover
{
  text-decoration: none;
  color:#ffffff;
}

.service_area a, .btnstyle a:hover
{
  text-decoration: none;
  color:#ffffff;
} 

.post-content
 {
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
 }

 .img-fluid, .img-thumbnail
 {
   width: 150px !important;
   height: auto;
 }

 .marboth
 {
   margin-bottom: 30px;
   margin-top: 30px;
 }
.post-content img {
   margin-bottom: 15px !important;
   margin-right: 15px !important;
}
.padboth{
  padding:30px;
}
.padboth img {
   margin-bottom: 15px !important;
   margin-right: 15px !important;
}
.service_area_testimonial 
{
    background: url("../img/testimonial.png") no-repeat center center !important;
    background-size: cover !important;
    background-position: center center;
    z-index: 2 !important;
    padding: 115px 0px !important;
    width: 100%;
    height: 800px;
    
}

.service_itemt
{
  padding: 100px;
  color:black;
  text-align: left;

}
.service_itemt a
{
  color:yellow;
  font-size: 18px;

}
.service_itemt h2
{
font-size: 22px;
  color:#ffffff;
  
}

.indus_imgt img{
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.icon-cog {
  color: orange;
  font-weight: bold !important;
  font-size: 14px !important;
}
.icon-cogw {
  color: #ffffff;
  font-weight: bold !important;
  font-size: 14px !important;
}
.logospan {
    width: 100px !important;
    display: inline;
    float: left;
    padding: 12px;
    
}

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

 .parallax {
    font-size: 200%;
  }

   /* add some padding to force scrollbars */
  .parallax__layer {
    padding: 100vh 0;
  }

   /* centre the content in the parallax layers */
  .title {
    position: relative;
  
  }


  /* misc
  --------------------------------------------- */
.demo__info {
    position: absolute;
    z-index:100;
    bottom: 1vh;
    top: auto;
    font-size:80%;
    text-align:center;
    width: 100%;
  }

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}





#group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }

#group2 .parallax__layer--back {
  margin-top: -10px;
}

.parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

.parallax::-webkit-scrollbar {
display: none;
}

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
}
  .hsContent h2  {
    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
  }
  .hsContent p {
    width: 400px;
    color: #b2b2b2;
  }
  .hsContent a {
    color: #b2b2b2;
    text-decoration: underline;
  }



.block {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.block h2 {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}
.img-parallax {
  
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}
.project-image {
  position:relative;
  z-index:1;
}
.img-responsive {
  display:block !important;
  max-width:100%; 
  height:auto;
  margin:0 auto;
  width: 100%;
}
.project-description {
  position:relative;
  max-width:2500px;
  z-index:2;
  background:rgba(255,255,255,.7);
  margin:0 auto;
  padding:10px 20px;
}

.project-img {
  position:relative;
 
  z-index:2;
  
  margin:0 auto;
  
  opacity: 0.7;
}

.project-img img{
 
  width: 100%;
 
}

.input-group-addon{color:#ff0000; background-color: #cccccc;}

.keditor-component .keditor-component-content {
    
    z-index: inherit;
}
.posttitlebg {
    
    padding: 15px 15px 2px 15px;
}
.main-header {
  max-height: 200px !important;
}
@media (max-width: 767px){
.main-sidebar {
    
    margin-top: 50px;
}
}

.nav>li>a, .nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    color: #a7eef9 !important;
    
}

.logo-lg img {
    height: 50px;
}

/*
* ----------------------------------------------------------------------------------------
* 02.NAVBAR CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.main_h {
    position: static;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Lato", sans-serif;
}

.themeone .open-nav {
    max-height: 400px !important;
}

.themeone .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.sticky {
    background-color: #fff;
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}

.themeone .logo {
    width: 120px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: -15px;
    line-height: 1;
    margin-bottom: 10px;
}

.themeone nav {
    float: right;
    width:85%;
    margin-top: 7px;
}

.themeone nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
}

.themeone nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}
  
.themeone nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.themeone nav ul a:hover{
    color: #02a9f7;

}

.themeone .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.themeone .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}

.themeone .row {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 3%;
}

* {
    box-sizing: border-box;
}

.themeone .content {
    padding: 50px 2% 250px;
}

.themeone .hero {
    position: relative;
    background: #333 url(https://srdjanpajdic.com/slike/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
}

.themeone .hero h1 {
    font-size: 50px;
    line-height: 1.3;
}

.themeone .hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
}

.themeone .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #e8f380;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -14px;
}

.themeone .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@media only screen and (max-width: 480px) {
.main-sidebar  {
    
    padding-top: 51px;
}
.main-header {
    max-height: 250px !important;
}
.navbar-nav {
    margin-top: 0px !important;
}

}
@media (max-width: 550px) and (min-width: 50px){
.navbar-nav {
    margin-top: 0px !important;
}


}
.copy_right_area1
{
  margin-right: -15px;
  margin-left: -15px;
}