.adminltehs {
    color: #ffffff !important;
}

body {
	background-color: #0d4887 !important;
}
.main-header span {
    color: #fff200;
}
.main-sidebar li, sidebar-menu li, treeview-menu li {
    color: #fff200;
}
.navbar-custom-menu li a:hover, .navbar-custom-menu li a:visited, .navbar-custom-menu li a:focus {
    background-color: transparent !important;
}

.main-sidebar a, .navbar a{
	color: #a7eef9;
}

.navbar a:hover {
    color: #a7eef9;
}

.dropdown-menu {
    background-color: #0d4887 !important;
}

.dropdown-menu
{
    border: 5px solid #ffffff;
    border-top-width: 5px !important;
}

.hidden-xs
{
    color: #eeeeee !important;
}

.dropdown-toggle::after:hover {
	color: #ffffff !important;
}

.bg-userone
{
	background-color:#ff9500 !important;
}

.bg-usertwo
{
	background-color:#ee0000 !important;
}

.bg-userthree
{
	background-color:#00C1F4 !important;
}
