.exo-menu
{
	background:black !important;
}
.table-bordered td, .table-bordered th {
    border: 1px solid transparent !important;
}



.bg-coverpost {
    background: url('http://localhost/dynamic/files/shares/1.jpg')  top repeat !important;
    height: 225px;
    
}

.icobak span
{
  
  color: blue !important;
}